How do you comment code in Python? What are the different types of comments?

In [19]:
#This is my comment

""" This is my 
multiline comment"""
print("hello")

def addd(a,b):
    """ This function is for printing sum"""
    print(a+b)
print(addd.__doc__)

hello
 This function is for printing sum

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
a=10

Q3. How do you convert one data type to another in Python?

In [20]:
k=12.34
y=int(k)
print(y)

12

Q4. How do you write and execute a Python script from the command line?

In [34]:
#Ans we will write python and provide path

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [21]:
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?
Ans complex no. has one real part and one imaginary part, it can be represented as a+ib.

In [25]:
k=10+5j
type(k)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [26]:
age=25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [27]:
price=9.99
#float
#to verify 
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [28]:
name="Trisha Rajkumar Roy"
print(name)

Trisha Rajkumar Roy

Q10. Given the string "Hello, World!", extract the substring "World".

In [32]:
p="Hello,World!"
print(p[6:11])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [33]:
is_student=True