Q1 i)

In [1]:
a="Trisha"

ii)

In [2]:
b=[1,2,3,4,5]

iii)

In [3]:
c=12.34

iv)

In [4]:
r=(1,2,3,4,5)

Q2
i)string
ii)string
iii)list
iv)float

Q4

In [6]:
a=int(input("Enter a no. whose divisibility needs to be checked"))
b=int(input("Enter a no. using which you want to do the same"))
i=1
while(a!=0):
    if(a%b==0):
        print("yes for",i,"time")
        a=a/b

    else:
        print("not possible")
        break
    i+=1

Enter a no. whose divisibility needs to be checked100
Enter a no. using which you want to do the same2
yes for 1 time
yes for 2 time
not possible

/ is use for division where it will provide us quotient

In [12]:
10/2

5.0

% this operator will return the remainder after the division of the no.

In [13]:
10%3

1

// it is known as floor division if the quotient is in decimal it will return the nearest small integer no.

In [14]:
10//3

3

** is used as raise to the power which will multiply the no. by itself the no. of times which was specified by the user

In [15]:
2**3

8

Q6.

In [7]:
k=list(range(1,26))
for i in k:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7.a datatype is said to be mutable if we can change the element of a data at their index position and if the don't perform this quality they are said to be immutable.
for example tuples and strings are immutable whereas list are mutable.

In [8]:
x="Trisha"
x[0]="uu"

TypeError: 'str' object does not support item assignment

In [9]:
y=(1,2,3,4,5)
y[0]=56

TypeError: 'tuple' object does not support item assignment

In [11]:
z=[1,2,3,4,5]
z[0]=99
z

[99, 2, 3, 4, 5]