### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [5]:
s=pd.Series([4,8,15,16,23,42])

In [6]:
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
x=[1,2,3,4,5,6,7,8,9,10]
print(pd.Series(x))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

In [11]:
df=pd.DataFrame({"Name":["Alice","Bob","Claire"],
               "Age":[25,30,27],
               "Gender":["Female","Male","Female"]})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional, tabular data structure that can be thought of as a collection of Pandas Series.

**Series**
- A Pandas Series is a one-dimensional data structure that can be thought of as a single column of data with an index.
- A Series is typically used to represent a single variable or attribute.

**DataFrame**
- A Pandas DataFrame is a two-dimensional data structure that resembles a table or spreadsheet with rows and columns.
- A DataFrame is used to store and work with structured datasets where you have multiple variables or attributes.

In [12]:
#Examples
x=["Alice","Bob","Claire"]
y=[25,30,27]
z=["Female","Male","Female"]
Name=pd.Series(x)
Age=pd.Series(y)
Gender=pd.Series(z)
print("This are Series")
print(Name,"\n",Age,"\n",Gender,"\n")
data=pd.DataFrame({"Name":Name,
                  "Age":Age,
                  "Gender":Gender})
print("Combining these Series as different columns we formed a dataframe")
print(data)

This are Series
0     Alice
1       Bob
2    Claire
dtype: object
 0    25
1    30
2    27
dtype: int64
 0    Female
1      Male
2    Female
dtype: object

Combining these Series as different columns we formed a dataframe
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some of the common functions you can use to manipulate data in a Panda DataFrame are:

1. **Selection and Filtering**
    - df['column_name'] or df.column_name: for selecting a single column
    - df[['col1', 'col2']]: Select multiple columns.
    - df.loc[row_label] or df.loc[row_label, column_label]: Select data by label.
    - df.iloc[row_index] or df.iloc[row_index, col_index]: Select data by integer location.
    - df[df['column'] > value]: Filter rows based on a condition.
    
2. **Sorting**
    - df.sort_values(by='column_name'): Sort DataFrame by one or more columns.
    - df.sort_index(): Sort DataFrame by index.
    
3. **Aggregation**
    - df.groupby('column_name').agg({'other_column': 'function'}): Group data by a column and apply an aggregation function (e.g., sum, mean) to another column.
    - df['column_name'].agg(['sum', 'mean']): Compute summary statistics for a column.
4. **Joining and Combining**
    - pd.concat([df1, df2]): Combine DataFrames vertically (along rows).
    - pd.merge(df1, df2, on='key_column'): Perform SQL-style joins on DataFrames.
    
5. **Data Cleaning**
    - df.drop('column_name', axis=1): Remove a column.
    - df.fillna(value): Fill missing values with a specified value.
    - df.drop_duplicates(): Remove duplicate rows.
    
6. **Data Transformation**
    - df.apply(function): Apply a function to each element or row/column.
    - df.replace(old_value, new_value): Replace values in the DataFrame.
    
7. **Statistical Operations**
    - df.describe(): Generate summary statistics of numeric columns.
    - df.corr(): Calculate the correlation matrix between numeric columns.

8. **Data Visualization**
    - df.plot(): Create basic plots for data visualization (requires Matplotlib or other plotting libraries).
    
9. **Datetime Operations**
    - pd.to_datetime(df['date_column']): Convert a column to datetime format.
    - df['date_column'].dt.year: Extract year from datetime column.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
x=["Alice","Bob","Claire"]
y=[25,30,27]
z=["Female","Male","Female"]
Name=pd.Series(x)
Age=pd.Series(y)
Gender=pd.Series(z)
print("This are Series")
print(Name,"\n",Age,"\n",Gender,"\n")
data=pd.DataFrame({"Name":Name,
                  "Age":Age,
                  "Gender":Gender})
print("Combining these Series as different columns we formed a dataframe")
print(data)

This are Series
0     Alice
1       Bob
2    Claire
dtype: object
 0    25
1    30
2    27
dtype: int64
 0    Female
1      Male
2    Female
dtype: object

Combining these Series as different columns we formed a dataframe
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female